/*폰트*/
@font-face {
    font-family: 'Pretendard-ExtraBold';
    src: url('https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-ExtraBold.woff') format('woff');
    font-weight: 800;
    font-style: normal;
}

@font-face {
    font-family: 'Pretendard-Bold';
    src: url('https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Bold.woff') format('woff');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'Pretendard-Medium';
    src: url('https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Pretendard-Regular';
    src: url('https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Pretendard-Light';
    src: url('https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Pretendard-ExtraLight';
    src: url('https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-ExtraLight.woff') format('woff');
    font-weight: 200;
    font-style: normal;
}

* {
    margin: 0;
    padding: 0;
    cursor: url(../img/cursor1.cur), auto !important;
    /*마우스 커서 변경*/
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
    color: black;
}

body {
    font-family: 'Pretendard-Regular';
    font-size: 16px;
    line-height: 30px;
    color: black;
    min-width: 1320px;

}

/*헤더 부분*/
#header {
    background: url(../img/aerial-view-green-forest.jpg) no-repeat center top;
    width: 100%;
    margin: auto;
    height: 570px;
    position: relative;
}
.header_inner {
    width: 1320px;
    height: 826px;
    margin: auto;
    position: relative;
    text-align: center;
    padding-top: 80px;
    box-sizing: border-box;
}

.logo {
    display: block;
    text-align: center;
}

.header_inner>ul {
    position: absolute;
    top: 30%;
    left: 50%;
    margin-left: -365.5px;
    width: 949px;
}

.nav>li {
    float: left;
    position: relative;
   
}

.nav>li>a {
    display: inline-block;
    padding: 20px 60px 0px 60px;
    font-size: 20px;
    font-family: 'Pretendard-ExtraBold';
    color: white;
}

.nav>li>a:before {
    content: '';
    position: absolute; /*부모 요소에는 position: relative를 주어야 한다.*/
    background-color: rgba(0, 153, 51, 0.4);
    height: 5px; /*밑줄 굵기*/

    width: 0; /*초기에 보이지 않도록*/
    bottom: 0; /*a태그 아래에 위치시키기*/
    transition: 0.7s; /*애니메이션 동작 실행 시간 정의*/

    /*가상 요소를 가운데로 이동시키기*/
    left: 50%;
    transform: translateX(-50%) ;
}

.nav>li>a:hover:before {
    width: 70%;
}
.nav>li>a:hover {
    color: #78a088;
    font-weight: bold;
}


/*메뉴 서브 배경*/
.menu_sub {
    position: absolute;
    left: -78px;
    display: none;
    width: 300px;
    padding: 20px;

}

/*서브 메뉴 꾸미기*/
.menu_sub li a {
    font-size: 20px;
    display: block;
    padding: 10px 0;
    color: white;
    text-align: center;
    z-index: 2;
}

.menu_sub li a:hover {
    font-weight: bold;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.9);
    background-color: rgba(0, 0, 0, 0.2);
}

/*서브메뉴 안보이게 만들기*/

/*마우스*/
.nav li:hover .menu_sub {
    display: block;
}
.mouse {
    width: 40px;
    height: auto;
}


.scroll {
    animation-name: scroll;
    animation-duration: 1.5s;
    animation-timing-function: cubic-bezier(0.650, -0.550, 0.250, 1.500);
    animation-iteration-count: infinite;
    transform-origin: 50% 20.5px;
    will-change: transform, opacity;
    opacity: 1;
}

.scroll-link {
    position: absolute;
    top: 480px;
    left: 50%;
    transform: translateX(-50%);
}

@keyframes scroll {

    0%,
    20% {
        transform: translateY(0) scaleY(1);
    }

    100% {
        transform: translateY(36px) scaleY(2);
        opacity: 0;
    }

}
/*메인*/
#main{
    width: 100%;
    overflow: hidden;
    text-align: center;
    height: 900px;
    margin-top: 200px;
}

#main h1{
    margin-bottom: 150px;
}
.sub{
    width: 888px;
    margin: auto;
    overflow: hidden;
}
.sub li{
    float: left;
}
.sub li:nth-child(4) a{
    margin-right: 0;
}
.sub li a{
    display: inline-block;
    border-radius: 20px;
    padding: 5px 20px;
    background-color: #bbcfc3;
   margin-right: 76px;
}
.sub li a:hover{
    color: white;
    background-color: #78a088;
}
.sub li .all{
    background-color: #78a088;
    color: white;
}

.main_inner{
    width: 1320px;
    margin: auto;
    overflow: hidden;
    position: relative;
    
}

/*메인 서브*/
.main_sub {
    padding-top: 200px;
}

.main_sub li {
    float: left;
    margin: 0 24px 50px 24px;
}
.main_sub li a img{
    display: block;
    transition: all 1s;

}
.main_sub li:hover a img:nth-child(1){
    opacity: 0.5;
}
.main_sub li a{
    display: block;
    overflow: hidden;
    border-radius: 80px;
    position: relative;
}
.bs{
    width: 30px;
    position: absolute;
    bottom: 27px;
    right: 39px;
    opacity: 0;
}
.main_sub li:hover a .bs{
opacity: 1;
    /* transition: all 1s;
    호버에 트랜지션을 넣으면 호버했을 때(마우스를 올릴 때)는 스륵륵 변화함. 하지만 마우스가 벗어났을 때 바로 돌아옴. */
}

.main_sub h3{
    font-family: 'Pretendard-Bold';
    font-size: 23px;
    margin-top: 15px;
}
.text {
    font-family: 'Pretendard-Bold';
    font-size: 20px;
}

.dex {
    font-family: 'Pretendard-Bold';
    text-decoration: line-through;
    color: #999;
    font-size: 16px;
}
.E{
    color: #78a088;
}






/*푸터*/
#footer {
    width: 100%;
    background-color: #172d18;
    padding: 36px 0;
    color: white;
    font-size: 14px;
}

.footer_inner {
    width: 1320px;
    margin: 0 auto;
    position: relative;
}

.f_text img {
    display: block;
    margin-bottom: 20px;
}

.f_text p:nth-child(4) {
    font-family: 'Pretendard-ExtraBold';
    font-size: 16px;
}

.sns {
    position: absolute;
    top: 100px;
    right: 30px;
}

.sns a {
    display: inline-block;
    margin-left: 10px;
    opacity: 0.5;
}

.sns a:hover {
    opacity: 1;
}

.f_text {
    clear: both;
}

