*{margin: 0; padding: 0;}
ul{list-style: none;}
a{text-decoration: none; color: #000;}

/* 탭메뉴 꾸미기 */
.tab{
  width: 100%;

}
.tabnav{
  width: 1320px; 
  margin: auto;
  margin-top: 100px;
  overflow: hidden;
}
.tabnav li{
  float: left;
}
.tabnav li a{ 
  display: block;
  padding: 20px 128px;
  border:1px solid #ddd;
  position: relative;
  z-index: 2;
}

.tabnav li a:hover{
  background-color: #78a088;
  color: white;

}
/* 탭메뉴 클릭했을 때 변화 꾸미기 */

/* 탭컨테츠 꾸미기 */
.tabcontent{
  width: 1320px;
  margin: auto;
  padding:100px 20px 20px 20px; 
  overflow: hidden;
  position: relative;
  top: -1px;
  text-align: center;
  margin-bottom: 100px;
}
